modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/joex-ads run dev"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_anthropic_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 18098
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
BASE_PATH = "/"
API_PORT = "8080"
OPENROUTER_API_KEY = "6c10ba399eafaba11dc7f796e6e3fa679411c3df614f75ef05e5e5e0473738ca"
GROQ_API_KEY = "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"
MISTRAL_API_KEY = "U8j2MCelhFWliH8d3Yu96BFaJ0gxFoVs"
CLOUDFLARE_API_KEY = "cfat_fDzIEGqbyXywKegKHTOrpDttWJSCGp8Nq5FdAzQR4dd8b9ea"
CLOUDFLARE_ACCOUNT_ID = "ccb9851842f01c073dceb3cac6467e44"
